<link href="${path }/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="${path }/resources/css/common.css" rel="stylesheet">
<link href="${path }/resources/css/pnotify.core.css" rel="stylesheet" />
<style type="text/css">
.ui-pnotify.error .ui-pnotify-container {
	background-color: #404040 !important;
	background-image: none !important;
	border: none !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.ui-pnotify.error .ui-pnotify-title, .ui-pnotify.error .ui-pnotify-text
	{
	font-family: Arial, Helvetica, sans-serif !important;
	text-shadow: 2px 2px 3px black !important;
	font-size: 10pt !important;
	color: #FFF !important;
	padding-left: 50px !important;
	line-height: 1 !important;
	text-rendering: geometricPrecision !important;
}

.ui-pnotify.error .ui-pnotify-title {
	font-weight: bold;
}

.ui-pnotify.error .ui-pnotify-icon {
	float: left;
}

.ui-pnotify.error .picon {
	margin: 3px;
	width: 33px;
	height: 33px;
}
</style>
